<div class="login-info">
    <span>
        <a href="@Url.Action("index", "")">
            <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
            <span>@User.Identity.Name.ToLower()</span>
        </a>
    </span>
</div>